
/* id=two ----- Skills */
#two{
    padding: 50px 0px 0px;
}
#two h2{
    padding: 30px 0px 35px;
    font-size: 45px;
}
#two .skillcol{
    padding: 0px 20px 35px;
}
.progress-bar{
    background-color: #1d2dfd!important;
}