/* @media(max-width: 767.98px) {
    .home .home-content .hero-title {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -4px;
        line-height: 100px;
    }
    #intro p {
        font-size: 1em;
    }    
}

@media(max-width: 451px) {
    .home .home-content .hero-title {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 40px;
    }
    #intro p {
        font-size: 0.7em;
    }  
} */
/* .top_45{
    margin-top: 45px;
} */

/* .home{
    display: table;
    width: 100%;
    padding: 3%;
} */


/* .home #particles-js {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    z-index: 6;
}



.home .home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.home .home-content .hero-title {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 125px;
}

@media(max-width: 767.98px) {
    .home .home-content .hero-title {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -4px;
        line-height: 100px;
    }
    #intro p {
        font-size: 1em;
    }    
}

@media(max-width: 451px) {
    .home .home-content .hero-title {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 40px;
    }
    #intro p {
        font-size: 0.7em;
    }  
}

.home .home-content p {
    font-size: 28px;
    color: #b7b7b7;
    font-weight: 500;
}

.home .home-content p span {
    color: #ffff;
    font-weight: 900;
}

.home .home-content .social {
    right: 0;
    top: 0;
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: -155px;
    z-index: 6;
}

.home .home-content .social a {
    display: block;
    color: #ffff;
    font-size: 13px;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-weight: 600;
}


.home .home-content .social a.text {
    margin-right: 0;
}

.home .home-content .social a i {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.home .home-content .social a:hover i {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.home .home-content .line {
    float: left;
    width: 72px;
    background: #bfbfbf;
    height: 1px;
    margin: 20px 17px;
} */

/* #region portfolio*/
/* .cbp-item figure {
    margin:0;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #000;
    text-align: left;
    font-size: 16px;
    border-radius: 8px;
}

.cbp-item figure:hover img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    zoom: 1;
    filter: alpha(opacity=40);
    -webkit-opacity: .4;
    opacity: .4;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cbp-item figure figcaption {
    z-index: 10;
    padding-left: 20px;
    padding-top: 47%;
}

.cbp-item figure figcaption, .cbp-item figure:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cbp-item figure:after{
    content: '';
    background-color: rgba(255, 255, 255, 0.65);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.cbp-item figure figcaption h3 {
  line-height: 1.1em;
  font-size: 22px;
  opacity: 0;
  width: 100%;
  padding: 0;
  color: #fff;
  -webkit-transform: translateY(-40px);
 transform: translateY(-40px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.cbp-item figure p {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  color: #ffffffbd;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.cbp-item figure figcaption:hover h3,
.cbp-item figure figcaption:hover p{
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.cbp-item .shine{
        opacity: 0.3;
}

.portfolio .site-btn{
    margin: 0 auto;
}

.cbp-item figure img, .work figure {
    width: 100%;
}

.cbp-l-loadMore-link{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 50px;
    background-size: 202% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all 1s ease !important;
}

.cbp-l-loadMore:hover{
    background-position:left bottom ;
    text-decoration: none;
    color: #fff !important;
}

.classic-title{
    font-size: 22px;
    font-weight: bold;
    color: #121212;
} */
/* #endregion */